<div class="container">
    <h2>Заказ оформлен</h2>

    <p>Заказ @ViewBag.OrderId сформирован и в скором времени будет обработан</p>

    <a asp-controller="Home" asp-action="Index">На главную</a>
</div>