@model IEnumerable<WebStore.Models.Employee>

<table class="table">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var emp in Model)
        {
        <tr>
            <td>@emp.FirstName</td>
            <td>@emp.LastName</td>
            <td>@emp.Age</td>
            <td>@Html.ActionLink("Детали", "Details", new { id = emp.Id })</td>
        </tr>
        }
    </tbody>
</table>