<!DOCTYPE html>
<html lang="en">
<partial name="Partial/_Head" />
<body>
    <partial name="Partial/_Header" />
    @RenderBody()
    <partial name="Partial/_Footer" />

    <partial name="Partial/_Scripts" />
</body>
</html>