    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Category</h2>

                        <partial name="Partial/Pages/_LeftSideBar"/>

                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <partial name="Partial/Pages/_ProductDetails" />
                    <partial name="Partial/Pages/_CategoryTab" />
                    <partial name="Partial/Pages/_RecommendedItems" />
                </div>
            </div>
        </div>
    </section>
